<hr>
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-sm-4">
            <div class="d-flex justify-content-center align-items-center">
                <div class="icon-wrapper">
                    <span class="material-icons-outlined">local_shipping</span>
                </div>
                <div class="ms-2">
                    <h5 class="m-0 text-upper">Free Shipping</h5>
                    <small class="m-0">Free Shipping World Wide</small>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="d-flex justify-content-center align-items-center">
                <div class="icon-wrapper">
                    <span class="material-icons-outlined">local_convenience_store</span>
                </div>
                <div class="ms-2">
                    <h5 class="m-0 text-upper">24 X 7 SERVICE</h5>
                    <small class="m-0">Online Service For New Customer</small>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="d-flex justify-content-center align-items-center">
                <div class="icon-wrapper">
                    <span class="material-icons-outlined">local_offer</span>
                </div>
                <div class="ms-2">
                    <h5 class="m-0 text-upper">FESTIVAL OFFER</h5>
                    <small class="m-0">New Online Special Festival Offer</small>
                </div>
            </div>
        </div>
    </div>
</div>
