<footer>
    <div class="container newsletter">
        <div class="row">
            <div class="col-sm-8">
                <h5 class="m-0">KNOW IT ALL FIRST!</h5>
                <p class="grey-text text-darken-4 m-0"><small>
                    Never Miss Anything From Multikart By Signing Up To Our Newsletter.</small></p>                
            </div>
            <div class="col-sm-4">
                <div class="float-right">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Your email" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <button class="btn btn-subscribe" type="button" id="button-addon2">Signup</button>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container menus">
        <div class="row">
            <div class="col-sm-5">
                <div>
                    <img src="./assets/logo.png" alt="">
                </div>
                <div class="">
                    <p><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</small></p>
                </div>
                <div>
                    <span class="material-icons-outlined">facebook</span>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-4">
                        <h6>Categories</h6>
                        <ul class="list-group menu">
                            <li class="list-group-item">Womens Fashion</li>
                            <li class="list-group-item">Mens Fashion</li>
                            <li class="list-group-item">Kids Fashion</li>
                            <li class="list-group-item">Featured</li>
                          </ul>
                    </div>
                    <div class="col-sm-4">
                        <h6>Why we choose</h6>
                        <ul class="list-group menu">
                            <li class="list-group-item">Shipping & Return</li>
                            <li class="list-group-item">Secure Shopping</li>
                            <li class="list-group-item">Gallery</li>
                            <li class="list-group-item">Affiliates</li>
                            <li class="list-group-item">Contacts</li>
                          </ul>
                        
                    </div>
                    <div class="col-sm-4">
                        <h6>Store Information</h6>
                        <ul class="list-group menu">
                            <li class="list-group-item">
                                <div class="d-flex justify-content-start align-items-between">
                                    <span class="material-icons-outlined">location_on</span>
                                    <span>87, Indra Nagar, Marakkanam Road Tindivanam</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-start align-items-between">
                                    <span class="material-icons-outlined">phone</span>
                                    <span>Call us: +91 9042013581</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-start align-items-between">
                                    <span class="material-icons-outlined">email</span>
                                    <span>Email us: alaksandarjesus@yahoo.co.in</span>
                                </div>
                            </li>
                          </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>&copy; All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>