<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="text-center">BEST SELLING PRODUCTS</h4>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <app-product-left-card [item]="items[0]"></app-product-left-card>
                </div>
                <div class="col-sm-12">
                    <app-product-left-card [item]="items[1]"></app-product-left-card>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <app-product-top-card [item]="items[2]"></app-product-top-card>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <app-product-left-card [item]="items[3]"></app-product-left-card>
                </div>
                <div class="col-sm-12">
                    <app-product-left-card [item]="items[4]"></app-product-left-card>                    
                </div>
            </div>
        </div>
    </div>
</div>