<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p class="text-center">Recent Stories</p>
            <h4 class="text-center text-upper">From The Blog</h4>
        </div>
    </div>
</div>

<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-4" *ngFor="let story of stories; let i = index">
            <div class="card">
                <img [src]="story.image" class="card-img-top" alt="Blog Image">
                <div class="card-body">
                    <div class="text-center date">{{story.date | date:'MMMM d, y'}}</div>
                    <h6 class="card-title text-center text-upper">{{story.title}}</h6>
                    <hr class="divider">
                    <div class="text-center">
                        <small class="grey-text text-darken-2">by: {{story.author}} {{story.comments}} comment(s)</small>
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>